/*  your css code here. If applicable */
.main{
	background-color: #f5f5f5;
	padding :20px;
}

.testimonal{

	margin: 10px;
	padding: 8px;
	font-size: 10px;
	justify-content: space-between;
	background-color: white;
}

.sign{
	text-align: right;
	font-style: italic;
}
